body{
  margin: 0;
  padding: 0;
  background-image: url(unae.png);
  background-size: 100%;
  height:80%;
  margin:0;
  padding:0;
  font-family: montserrat;
  background: linear-white;
}

.cuadro{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px; 
    font-family: Montserrat;
    font-size: 30px;
    border: solid 1px;
  }
  
.cuadro p{
  margin-top: 20px;
  font-size: 15px;  
}

.enlace{
  margin-top: 20px;
  text-decoration: none;
  }

.enlace:hover{
  margin-top: 20px;
  text-decoration: none;
  }
