<!DOCTYPE html>
<html lang="es">
                <head>
                       <meta charset="utf-8"/>
                     <title>Iniciar sesion</title>
                     <link rel="stylesheet" type="text/css" href="css/estiloreg.css">
                     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

                </head>


<body>
     <header>
         








    </header>
<div class="login-box">
  <a href="" style="color:#C23538; font-size: 25px;margin-left: 55px; text-decoration: none;" ><strong></strong>ARANDUKA</strong></a>
  <img src="imagenes/libro.png" alt="">
  <br>
  <br>
    <form>
       
      <input  type='text' placeholder='Usuario' ng-model='Usuario'></br></br>
      <input type='text' placeholder='Contraseña' ng-model='Contraseña'></br></br>
    
      


<div align="center">
<a class="btn btn-outline-danger" href="#" role="button">Acceder</a>
</div>
<a href="">¿Eres nuevo?</a>
<a href="">¿Olvidó su contraseña?</a>
  </form>
  </div>