<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8"/>
<title>Registro</title>
<link rel="stylesheet" type="text/css" href="css/estiloregus.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<body>
     <header>
         








    </header>
<div class="login-box">
    <h4>Registro de usuario</h4>
    <div align="center">
      <form>
       
        <input  type='text' placeholder='Nombre y Apellido' ng-model='txtNombre y Apellido'></br></br>
        <input type='text' placeholder='C.I' ng-model='txt C.I'></br></br>
        <input type='text' placeholder='Correo electrónico' ng-model='txtCorreo electrónico'></br></br>
        <input type='text' placeholder='FACAT' ng-model='txt FACAT'></br></br>
        
  <input type='text' placeholder='Seleccionar Carrera' ng-model='txt Seleccionar Carrera'></br></br>
  
  
  <a class="btn btn-primary" href="#" role="button">Cancelar</a>
  <a class="btn btn-danger" href="#" role="button">Guardar</a>
  
    </form>
  </div>
  </div>