<html lang="es">
<head>
<meta charset="utf-8"/>
<title>Registro</title>
<link rel="stylesheet" type="text/css" href="css/estiloregus.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <p class="nuev">Registro de Usuario</p>
  <div class="login-box">
      <div align="center">
          <form>
            <input type='text' required="" placeholder='Nombre y Apellido' ng-model='txt Nombre y Apellido'><br>
            <input type='text' required="" placeholder='C.I' ></br>
            <input type='text' required="" placeholder='Correo electrónico' ng-model='txt Correo electrónico'><br>
            <a href="facultad.html"><button type="button" required="" class="btn btn-primary botonsito"> Seleccionar Facultad</button></a></br>
            <a href="carrera.html"><button type="button" required="" class="btn btn-primary botonsito"> Seleccionar Carrera</button></a><br>

            <a class="btn btn-primary" href="Iniciar-sesion.html" role="button">Cancelar</a>
            <a class="btn btn-danger" href="registro-exitoso.html" role="button">Guardar</a>
           
          </form>
      </div>
  </div>
</body>
</html>