<!DOCTYPE html>
<html lang="es">
                <head>
                       <meta charset="utf-8"/>
                     <title>UNAE</title>
                     <link rel="stylesheet" type="text/css" href="css/Estilo.css">


                </head>
<body>
     <header>
            <div class="imagen-unae">
                                    <!-- Aqui agregamos la imagen de unae con la etiqueta img -->
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Unae.png" alt="Imagen Google">


            </div>
     </header>  
<div ng-app='Registro de Usuario'>
  <div ng-controller='datosForm'>
    <h3 class='titulo'>Registro de Usuario </h3>
    <form name='frmDatos' class='formulario'>
      <input type='text' placeholder='Nombre y Apellido' ng-model='txtNombre y Apellido'></br></br>
      <input type='text' placeholder='C.I' ng-model='txt C.I'></br></br>
      <input type='text' placeholder='Correo electrónico' ng-model='txtCorreo electrónico'></br></br>
      <input type='FACAT' placeholder='FACAT' ng-model='txt FACAT'></br></br>
<input type='Seleccionar Carrera' placeholder='Seleccionar Carrera' ng-model='txt Seleccionar Carrera'></br></br>
<button ng-click='registro()'>Cancelar</button> 
        <button ng-     click='registro()'>Aceptar</button>
        </form>
  </div>
</div>
</div>
      